<nav style=" border-bottom: 1px solid #000; display: flex; flex-direction: row; flex-wrap: wrap-reverse; justify-content: space-between; width: 80%; margin: 0 auto; padding-bottom: 0; text-align: left;">
  <div style="min-height: 25px;padding-bottom: 10px; text-align: left; vertical-align: bottom;">
    <a href="{{ base_url }}/" style="align-self: flex-end;">Home</a>
    <a href="{{ base_url }}/about">About</a>
    <a href="{{ base_url }}/experience">Experience</a>
    <a href="{{ base_url }}/contact">Contact</a>
  </div>

  <a href="{{ base_url }}/" style="display: inline-block; float: right; margin-top: -35px;"><img src="{{ base_url }}/assets/img/michael-otte-logo.svg" style="background-color: #00ACC2; border-radius: 250px; overflow: hidden; padding: 5px; width: 60px; height: 60px;" /></a>
</nav>